.inputtext {
    display: block;
    margin: 18px 0;

    &__title {
        margin: 0;
        margin-bottom: 8px;
    }

    &__input {
        padding: 16px 12px;
        outline: none;
    }
}

.addbutton {
    width: 100%;
    display: block;
    border-radius: 12px;
    text-decoration: none;
    border-style: dashed;
    padding: 32px;
    text-align: center;
    background-color: var(--lightBlue);
    margin-top: 20px;
    color: var(--blue);
}