.inputtext {
    display: block;
    margin: 18px 0;

    &__title {
        margin: 0;
        margin-bottom: 8px;
    }

    &__input {
        color: #000;
        padding: 16px 12px;
        outline: none;
    }
}

.loader {
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
    vertical-align: middle;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.custombutton {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    padding: 12px 16px;
    border: none;
    cursor: pointer;

    & > span {
        display: block;
    }

    
    &__btn {
        &--light {
            color: var(--blue);
            background-color: var(--lightBlue);
    
            &:hover {
                color: #fff;
                background-color: var(--blue);
            }
        }

        &--dark {
            color: #fff;
            background-color: var(--blue);
    
            // &:hover {
            //     color: var(--blue);
            //     background-color: var(--lightBlue);
            // }
        }

    }

}