.inputtext {
    display: block;
    margin: 18px 0;

    &__title {
        margin: 0;
        margin-bottom: 8px;
    }

    &__input {
        color: #000;
        padding: 16px 12px;
        outline: none;
    }
}

.custombutton {
    // width: 100%;
    display: block;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;

    & > span {
        display: block;
    }

    &--light {
        color: var(--blue);
        background-color: var(--lightBlue);

        &:hover {
            color: #fff;
            background-color: var(--blue);
        }
    }

    &--dark {
        color: #fff;
        background-color: var(--blue);

        &:hover {
            color: var(--blue);
            background-color: var(--lightBlue);
        }
    }
}